*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
header
{
    padding: 5rem 0 2rem 0;
    text-align: center;
    background-color: #1e96fc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
h1
{
    scale: 2;
    margin-bottom: 2rem;
    animation-name: fadeInOut;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.pfp
{
    height: 10rem;
    width: 10rem;
    background-image: url("IMG_2363.jpg");
    background-size: cover;
    margin-top: 2rem;
}
@keyframes fadeInOut
{
    from{
        opacity: 0;
        transform: translateY(1.25rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
p
{
    scale: 1.2;
}
.container
{
    text-align: center;
    padding: 4rem 0 0 0 ;
}
h2
{
    scale: 1.3;
    margin-bottom: 2rem;
    color: #1e96fc;
    animation-name: fadeInOut;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
button
{
    margin-top: 3rem;
    font-size: large;
    padding: .3rem .7rem .3rem .7rem;
    background-color: #1e96fc;
    color: white;
    border: none;
    border-radius: .3rem;
}